body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* 스와이퍼 컨테이너에 대한 스타일 */
.banner {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* 스와이퍼 컨테이너에 대한 스타일 */
.banner {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* Responsive styles for screens up to 500px */
@media (max-width: 500px) {
    .custom-card-title {
        font-size: 24px; /* Adjust the font size as needed */
    }

    fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }

    p {
        font-weight: bold;
        margin-bottom: 8px;
    }

    .custom-button-container {
        display: flex;
        justify-content: center;
        margin-top: 16px; /* Adjust the margin as needed */
    }

    label {
        display: inline-flex; /* 라디오 버튼 수평 정렬 */
        align-items: center;
        margin-right: 16px; /* 라디오 버튼 간격 조정 */
    }

    .custom-button {
        font-size: 18px; /* Adjust the font size as needed */
        padding: 8px 8px; /* Adjust the padding as needed */
    }

    input[type="radio"] {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

}

label{
    font-size: xx-large;
}

hm {
    font-size: large;
    text-align: center;
}

h5 {
    font-size: xx-large;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.custom-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}



.custom-button2 {
    background-color: #04B404;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}



.custom-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.custom-button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 100px;
}


.custom-card-title {
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.25rem; /* 타이틀 폰트 크기 */
}

.custom-card-title h5 {
    font-size: 1.25rem; /* h5 요소 폰트 크기 */
}

.custom-card-title h2 {
    font-size: 1rem; /* h5 요소 폰트 크기 */
}

.custom-card-title h3 {
    font-size: 1rem; /* h5 요소 폰트 크기 */
    text-align: right;
}

.custom-card-title p {
    font-size: 1rem; /* p 요소 폰트 크기 */
}

fieldset{
    width: 1000px;
    margin: 0px auto;
    object-fit: cover;
    object-position: 50% 50%;
    border: none;
}

.swiper-container {
    width:800px;
    height:250px;
    border:5px solid silver;
    border-radius:7px;
    box-shadow:0 0 20px #ccc inset;
    object-fit: cover;
    object-position: 50% 50%;
}
.swiper-slide {
    text-align:center;
    display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items:center; /* 위아래 기준 중앙정렬 */
    justify-content:center; /* 좌우 기준 중앙정렬 */
    object-fit: cover;
    object-position: 50% 50%;
}