.image-button {
    background: none;
    border: none;
    padding: 0;
    width: auto;
    display: inline-block;
}

.image-button img {
    width: 90%;
    height: 60%;
    object-fit: cover;
    object-position: 50% 50%;
}
